---
layout: default
---
<div class="home">
	{% assign curDate = site.time | date: '%s' %}
	<h2>今後の予定</h2>
	<ul class="post-list">
		{% for item in site.number_series reversed %}
		{% assign postStartDate = item.date | date: '%s' %}
		{% if postStartDate >= curDate %}
			<li>
				<span class="post-meta">{{ item.date | date: "%Y.%m.%-d" }}</span>
				<h2>
					<a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
				</h2>
			</li>
		{% endif %}
		{% endfor %}
	</ul>
	<h2>終了した勉強会</h2>
	<ul class="post-list">
		{% for item in site.number_series reversed %}
		{% assign postStartDate = item.date | date: '%s' %}
		{% if postStartDate <= curDate %}
		<li>
			<span class="post-meta">{{ item.date | date: "%Y年%m月%-d日" }}</span>
			<h2>
				<a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
			</h2>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<!--<p class="rss-subscribe"><a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSSフィード</a></p>-->
</div>
{% include sponsor.html %}
