<div class="wrapper sponsor">
	<h2 class="sponsor__title">協賛</h2>
	<h3 class="sponsor__category">スペシャルスポンサー</h3>
		<ul class="sponsor__list sponsor__list--special">
			<li class="sponsor__list-item">
				<a href="https://dotinstall.com/" target="_blank"><img src="/images/base/sponsor__dotinstall.svg"></a>
			</li>
		</ul>
	<h3 class="sponsor__category">ツールスポンサー</h3>
	<ul class="sponsor__list">
		<li class="sponsor__list-item">
			<a href="https://esa.io" target="_blank"><img src="/images/base/sponsor__esa.svg"></a>
		</li>
	</ul>
</div>
