<div class="wrapper sponsor">
	<h2 class="sponsor__title">協賛</h2>
	<p class="sponsor__body">DISTでは、以下の<a href="https://esa-pages.io/p/sharing/2767/posts/86/73671e79fd847f58454b.html" target="_blank">スポンサーにご協賛</a>いただいております。</p>
	<h3 class="sponsor__category">スペシャルスポンサー</h3>
	<ul class="sponsor__list sponsor__list--special">
		<li class="sponsor__list-item">
			<a href="https://dotinstall.com/" target="_blank" rel="noopener"><img src="/images/base/sponsor__dotinstall.svg" alt="ドットインストール"></a>
		</li>
	</ul>
	<h3 class="sponsor__category">ゴールドスポンサー</h3>
	<ul class="sponsor__list sponsor__list--gold">
		<li class="sponsor__list-item">
			<a href="https://www.ryden.co.jp/" target="_blank" rel="noopener"><img src="/images/base/sponsor__ryden.svg" alt="RYDEN"></a>
		</li>
		<li class="sponsor__list-item">
			<a href="https://www.yumemi.co.jp/ja" target="_blank" rel="noopener"><img src="/images/base/sponsor__yumemi.svg" alt="ゆめみ"></a>
		</li>
	</ul>
	<h3 class="sponsor__category">ブロンズスポンサー</h3>
	<ul class="sponsor__list sponsor__list--bronze">
		<li class="sponsor__list-item">
			<a href="https://tomosta.jp/" target="_blank" rel="noopener"><img src="/images/base/sponsor__tomosta.svg" alt="ともすた"></a>
		</li>
	</ul>
	<h3 class="sponsor__category">ツールスポンサー</h3>
	<ul class="sponsor__list">
		<li class="sponsor__list-item">
			<a href="https://esa.io" target="_blank" rel="noopener"><img src="/images/base/sponsor__esa.svg" alt="esa"></a>
		</li>
	</ul>
</div>
