@import "_palette"

table
	border-collapse: collapse

th
	background-color: palette(Grey, 100)

th,
td
	padding: .25rem
	border: 1px solid palette(Grey, 500)

.event
	&__status
		color: white
		background-color: palette(Teal, 500)
		padding: 0.5rem 1rem
		border-radius: 5px
		font-weight: bold

		a
			color: white

			&:hover
				opacity: 0.6

	&__image
		display: block
		margin: 0 auto

.staff
	&__list
		margin: 0 200px 0 0
		padding: 0

		&:after
			content: ""
			clear: both
			display: block

	&__list-item
		position: relative
		float: left
		margin: 6px
		list-style: none

	&__icon
		background: transparent none no-repeat center center
		background-size: cover
		width: 128px
		height: 128px

		&:hover
			opacity: 0.4

	&__info
		position: absolute
		top: 50%
		left: 5%
		width: 90%
		transform: translate(0, -50%)
		z-index: -1
		text-align: center

	&__name
		display: block
		font-size: 0.875rem

	&__job
		display: block
		font-size: 0.6rem
		line-height: 1.25

	&__comment
		position: relative
		display: inline-block
		padding: 0 15px
		width: auto
		min-width: 115px
		height: 40px
		color: #F6F6F6
		line-height: 40px
		text-align: center
		background: #19283C
		z-index: 0

		&:after
			content: ""
			position: absolute
			top: -10px
			left: 50%
			margin-left: -10px
			display: block
			width: 0px
			height: 0px
			border-style: solid
			border-width: 0 10px 10px 10px
			border-color: transparent transparent #19283C transparent

.sponsor
	margin-bottom: 2rem

	&__title,
	&__body
		text-align: center

	&__category
		text-align: center

	&__list
		width: 20%
		margin: 0 auto 40px
		padding: 0
		list-style: none

		&--special
			width: 50%

		&--gold
			width: 30%

	&__list-item
		width: 100%

.footer
	&__body
		margin-bottom: 1rem

		&--right
			float: right
			margin-top: -1rem

.button
	display: inline-block
	color: white
	background-color: palette(Teal, 500)
	padding: 0.5rem 1rem
	border-radius: 5px
	cursor: pointer

	&:hover
		background-color: palette(Teal, 300)
		text-decoration: underline

	a
		color: white
		text-decoration: none

[data-hint]:after
	min-width: 300px
	max-width: 300px
	white-space: normal
