@import "_palette"

.footer
	&__body
		margin-bottom: 1rem

		&--right
			float: right
			margin-top: -1rem

.button
	display: inline-block
	color: white
	background-color: palette(Teal, 500)
	padding: 0.5rem 1rem
	border-radius: 5px
	cursor: pointer

	&:hover
		background-color: palette(Teal, 300)
		text-decoration: underline

	&__label


	a
		color: white
		text-decoration: none
