---
layout: default
---
<div class="post event">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>

		{% assign curDate = site.time | date: '%s' %}
		{% assign postStartDate = page.date | date: '%s' %}
		{% if postStartDate >= curDate %}
		<p>{{ page.date | date: "%Y年%m月%d日" }}</p>
		<p class="event__status">参加申し込みは、<a href="{{ page.subscription }}" target="_blank">connpassのイベントページ</a>で受付中です。</p>
		{% else %}
		<p class="event__status">
			このイベントは、{{ page.date | date: "%Y年%m月%d日" }}に終了しました。<br>
			<a href="{{ page.subscription }}" target="_blank">connpassのイベントページ</a>
		</p>
		{% endif %}
	</header>
	<article class="post-content">
		<p><img src="/images/individual/number-series/dist.{{ page.number }}.png" alt="page.title" class="event__image"></p>
		{{ content }}
	</article>
	<footer class="post-footer">
		{% if postStartDate >= curDate %}
		<p class="event__status">参加申し込みは、<a href="{{ page.subscription }}" target="_blank">connpassのイベントページ</a>で受付中です。</p>
		{% endif %}
	</footer>
</div>
